body {
    background-color:#205d49;
}





.name {
    display: flex;
    padding: 0;
    margin-left: 5%;
    margin-top: 5%;
}

.name p {
    display: inline-block;
    margin: 0;
    line-height: 1;
    text-align:left;
    

    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    font-size: 120px;

    text-shadow: 1px 1px 2px #152a26;
    color:#1a3b34;
}

.unicodeBox {
    display: block;
    width: 96px;
    height: 96px;

    outline: solid 10px #F88379;;
    border-radius: 8px;

    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    font-size: 120px;

    align-self: baseline;
    margin-left: 25px;
}




.name p:hover {
    color: #F88379;
    text-shadow: -3px -3px 1px #9a5852;
    transition: color 0.3s ease-in, text-shadow 0.3s ease-in;
}

.name p:not(:hover) {
    transition: color 0.5s ease, text-shadow 0.5s ease;
}








.whiteboard {
    display: block;
    margin-left: 5%;
    margin-top: 10px;

    background: #205040;
    border-radius: 16px;
    box-shadow: 1px 1px 3px #152a26;
}






.clear {
    background-color: #205d49;
    color: #1a3b34;
    box-shadow: 1px 1px 3px #152a26;

    text-align: center;
    text-decoration: none;

    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    

    display: inline-block;
    margin: 4px 2px;
    padding: 16px 32px;
    border-radius: 8px;

    border: none;
}


.clear:hover {
    color: #F88379;
    text-shadow: -1px -1px 1px #9a5852;
    transition: color 0.2s ease, text-shadow 0.2s ease;
}

.clear:not(:hover) {
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

.clear:active {
    background-color: #ffb5ae;
}




.link {
    color:#1a3b34;
    box-shadow: 1px 1px 3px #152a26;


    text-align: center;
    text-decoration: none;

    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    font-size: 32px;

    display: inline-block;
    margin: 4px 2px;
    padding: 16px 32px;
    border-radius: 8px;

    cursor: pointer;
}

.link:hover {
    color: #F88379;
    text-shadow: -2px -2px 1px #9a5852;
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

.link:not(:hover) {
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

